<!--  Copyright (c) 2025 Haruki Isono
      This software is released under the MIT License, see LICENSE. -->

<?xml version="1.0"?>
<robot name="cibo" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Color -->
  <material name="black">
      <color rgba="0.0 0.0 0.0 1"/>
  </material>

  <material name="grey">
      <color rgba="0.5 0.5 0.5 1"/>
  </material>

  <!-- Link & Joint -->
 
  <link name="map"/>

  <link name="base_link"/>

  <!-- camera_01_link*Front Camera -->
  <link name="camera_01_link">
    <visual>
      <geometry>
        <box size="0.0123 0.0653 0.0225"/>
      </geometry>
      <material name="grey" />
    </visual>
  </link>

  <joint name="camera_01_joint" type="fixed">
    <parent link="vertical_bar_link"/>
    <child link="camera_01_link"/>
    <origin xyz="0.16 0.0 -0.311" rpy="0 0 0"/>
  </joint>

  

</robot>